.tooltip{
  background: rgba(0,0,0,0.8);
  color:white;
  position:absolute;
  z-index:9;
  padding:0.4% 1%;
  opacity:0;
  visibility: hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.tooltip.tooltip-small{
  padding:0.4% 1%;
  font-size: 12px;
}
.tooltip.tooltip-medium{
  padding:0.6% 1.2%;
  font-size: 13.5px;
}
.tooltip.tooltip-large{
  padding:1% 2%;
  font-size: 14px;
}
.tooltip.tooltip-open{
  visibility: initial;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}