.tooltip {
  background: rgba(0, 0, 0, 0.8);
  color:white;
  position:absolute;
  z-index:9;
  padding:0.4% 1%;
  opacity:0;
  visibility: hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.tooltip-title{
  color:rgba(255,255,255,0.95);
  font-weight: 500;
  width: 100%;
  clear:both;
}
.tooltip.tooltip-small {
  padding:4.5px 10px;
  font-size: 12px;
}
.tooltip.tooltip-medium {
  padding:7px 15px;
  font-size: 13.5px;
}
.tooltip.tooltip-large {
  padding:10px 20px;
  font-size: 14px;
}
.tooltip.tooltip-open {
  visibility: initial;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}
.tooltip-caret:after {
  content:'';
  position: absolute;
  width: 0;
  height: 0;
}
.tooltip-left .tooltip-caret:after {
  top: 50%;
  left: 100%;
  margin-left:0;
  margin-top: -6px;
  border-left: 6px solid rgba(0, 0, 0, 0.8);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.tooltip-right .tooltip-caret:after {
  top: 50%;
  left:0;
  margin-left:-6px;
  margin-top: -6px;
  border-right: 6px solid rgba(0, 0, 0, 0.8);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.tooltip-top .tooltip-caret:after {
  top: 100%;
  left: 50%;
  margin-left: -6px;
  margin-bottom:-6px;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.tooltip-bottom .tooltip-caret:after {
  bottom: 100%;
  left: 50%;
  margin-left: -6px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
